set scrolloff=10
set linenumber
set relativenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set smartcase


let mapleader = " "
set NERDTree
Plug ´preservim/nerdtree´
map <C-h> :NERDTreeFocus<CR>


set which-key
" ZenMode
map <leader>z <Action>(ToggleDistractionFreeMode)


" File & Tab navigation
nnoremap L :tabnext<CR>
nnoremap H :tabprev<CR>
map <leader>bd <Action>(CloseEditor)
map <leader>bo <Action>(CloseAllEditorsButActive)
map <leader><space> <Action>(GotoFile)
map <leader>sg <Action>(SearchEverywhere)

" Center screen on scrolling
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Debugging & Testing
" TODO: run test near cursor?
map <leader>tr <Action>(Rider.UnitTesting.RunContext)
map <leader>tR <Action>(RiderUnitTestRepeatPreviousRunAction)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dr <Action>(Debugger.RemoveAllBreakpoints)


" Move visual selection up and down
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Code quick actions
map <leader>ca <Action>(ShowIntentionActions)

nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>fr :action FindUsages<CR>
nnoremap gb <C-o>
map gi <Action>(GotoImplementation)
nnoremap <leader>c :action CommentByLineComment<CR>
vnoremap <leader>c :action CommentByLineComment<CR>

map <leader>cd <Action>(ShowErrorDescription)
map KK <Action>(ShowHoverInfo)

nnoremap <leader>cc :source ~/.ideavimrc<CR>

" Harpoon
map <leader>1 <Action>(GotoHarpoon1)
map <leader>2 <Action>(GotoHarpoon2)
map <leader>3 <Action>(GotoHarpoon3)
map <leader>4 <Action>(GotoHarpoon4)
map <leader>5 <Action>(GotoHarpoon5)

map <leader>H <Action>(AddToHarpoon)
map <leader>h <Action>(ShowHarpoon)
